<p>Sie können Ihr Support System über 2 Wege abrufen.</p>
<h2 style='margin-left:20px;'>Aus Ihrer Website, die den folgenden Code enthält:</h2>
<table style="width:100%">
	<colgroup>
		<col width="200"/>
		<col width="*"/>
	</colgroup>
	<tr>
		<td>Support Anfrager Bereich:</td>
		<td><div style="font-family:monospace;" location="iframeEnquirer"></div></td>
	</tr>
	
	<tr>
		<td>Support Mitarbeiter Bereich:</td>
		<td><div style="font-family:monospace;" location="iframeEmployee"></div></td>
	</tr>
</table>
<p>Wenn das Support System auf Ihrer Webseite nicht angezeigt wird, obwohl Sie den Code bereits dort eingebunden haben, dann überprüfen Sie das Layout Ihrer Webseite folgendermaßen:<p>
<ul>
	<li>Ersetzen Sie im oberen Code die CSS Breitenangabe <code>width:100%</code> mit <code>width:800px</code> und schauen Sie ob es eine Wirkung auf die Darstellung in Ihrer Webseite zeigt. Wenn Sie Ihr System sehen können, dann unterstützt der CSS Layout Ihrer Webseite nur fixe Breitenangaben. Die optimale Breitenangabe erreichen Sie durch Anpassung der Zahl <code>800px</code>.
</ul>

<h2 style='margin-left:20px;margin-top:20px'>Direkt über eine URL:</h2>
<table style="width:100%">
	<colgroup>
		<col width="200"/>
		<col width="*"/>
	</colgroup>
	<tr>
		<td>Support Anfrager Bereich:</td>
		<td><div style="font-family:monospace;" location="linkEnquirer"></div></td>
	</tr>
	
	<tr>
		<td>Support Mitarbeiter Bereich:</td>
		<td><div style="font-family:monospace;" location="linkEmployee"></div></td>
	</tr>
</table>